<!-- partial:index.partial.html -->
<div class="login-page">
  <div class="form">
    <form [formGroup]="formularioLog" (ngSubmit)="login()">
      <input placeholder="ID" formControlName="id" required/>
      <input type="password" placeholder="Password" formControlName="pass" required/>
      <button type="submit">login</button>
      <p class="message">Not registered? <a routerLink="/auth/register">Create an account</a></p>
    </form>
  </div>
</div>
<!-- partial -->

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script><script  src="./script.js"></script>


